@keyframes ldio-ueww465b0c {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-ueww465b0c div {
    position: absolute;
    width: 116px;
    height: 116px;
    border: 8px solid #927a75;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-ueww465b0c div {
    animation: ldio-ueww465b0c 1s linear infinite;
    top: 100px;
    left: 100px
  }
  .loadingio-spinner-rolling-ryq62n223dq {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-ueww465b0c {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .ldio-ueww465b0c div { box-sizing: content-box; }